name: Auto commit changes

on:
  push:

jobs:
  commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - run: echo -e "\n`date`" >> README.md

      - uses: planetscale/ghcommit-action@v0.2.18
        with:
          commit_message: "chore: auto commit"
          repo: ${{ github.repository }}
          branch: ${{ github.head_ref || github.ref_name }}
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}