name: Auto commit changes

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - 'release/*'
  push:
    branches:
      - main
      - 'release/*'

jobs:
  commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - run: echo -e "\n$(date)" >> README.md

      - name: Create Pull Request to update CHANGELOG.md
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "chore: update CHANGELOG.md"
          title: "Update Changelog"
          body: |
            This PR updates the CHANGELOG.md to include all releases.
            - Generated using git-cliff
            - Triggered by: ${{ github.event_name }}
          branch: update-changelog-${{ github.run_id }}
          base: main
          delete-branch: true
          labels: documentation, automated-pr