name: Auto commit changes

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - 'release/*'

jobs:
  commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - run: echo -e "\n$(date)" >> README.md

      - uses: planetscale/ghcommit-action@v0.2.20
        with:
          commit_message: "chore: auto commit"
          repo: ${{ github.repository }}
          branch: ${{ github.head_ref }}
          file_pattern: 'README.md'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}