name: Auto commit changes

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    branches:
      - main
      - 'release/*'
  push`:
    branches:
      - main
      - 'release/*'

jobs:
  commit:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}

      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v6
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
          git_user_signingkey: true
          git_commit_gpgsign: true

      - run: echo -e "\n$(date)" >> README.md

      - name: Commit signed changes
        run: |
          git add README.md
          git commit -S -m "chore: auto commit"
          git push